* {
    margin: 0;
    text-transform: uppercase;
    background-color: aliceblue;
}

header {
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

section {
    border: 5px solid blackl;
    border-radius: 5px;
    margin: 10px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: red;
    margin-bottom: 0;
}

div.exemplo {
    font-weight: bold;
    color: blue;
}